html, body {
  text-align: center;
  scroll-behavior: smooth;
  background-color: #4e4e4e;
  color: white;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #7bc67b;
  text-decoration: line-through;
}

h1 {
  font-family: "Cormorant Unicase", serif;
  color: white;
  font-size: 5.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  width: 900px;
  margin-left: -450px;
  margin-top: 15%;
}

.sectionOne {
  width: 100%;
}

.sectionTwo, .sectionThree {
  padding-bottom: 5%;
}

.sectionFour, .footer {
  padding-bottom: 2%;
}


h2 {
  font-size: 1.9rem;
  font-family: "Amatic SC", cursive;
  width: 410px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -205px;
  margin-top: 80px;
}

h6 {
  font-family: "Amatic SC", cursive;
  font-size: 1.4rem;
}

img {
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.box {
  width: 580px;
  height: 100px;
  border-style: solid;
  border-width: 7px;
  border-color: #7bc67b;
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
  opacity: 0.9;
}

.about {
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 7%;
  font-family: 'Amatic SC', cursive;
}

.about-name h3 {
  font-size: 2.8rem;
}

.about-para {
  /* padding-top: 50px; */
  width: 470px;
  position: relative;
  left: 50%;
  margin-left: -235px;
  margin-top: -355px;
  padding-bottom: 5%;
  font-size: 1.7rem;
}

.about-box {
  width: 340px;
  height: 400px;
  border-style: solid;
  border-width: 7px;
  border-color: #7bc67b;
  position: relative;
  margin-top: 50px;
  left: 50%;
  margin-left: -175px;
  opacity: 0.5;
}

.interests-link {
  padding-top: 40px;
}

.row {
  width: 1300px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  margin-top: 200px;
  padding-bottom: 200px;
}

.row img {
  border-radius: 50%;
  opacity: 0.5;
}

.row img:hover {
  opacity: 0.7;
}

.square {
  padding-left: 50px;
  padding-right: 50px;
}

#img1 {
  float: left;
}

#img2 {
  float: left;
}

#img3 {
  float: left;
}

#img4 {
  float: left;
}

div.iconBar {
  position: absolute;
  z-index: 1;
  margin-top: 670px;
  margin-left: -230px;
  width: 500px;
  left: 50%;

}

.icon {
  padding-right: 20px;

}

.home {
  position: relative;
  text-align: right;
  padding-right: 40px;
  margin-top: 680px;
}
